$font-family: "Alegreya SC", serif;
$font-color: #686868;
$common-padding: 20px 20px;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: $font-family;
}

.container {
  width: 70vw;
  background-color: #DCDCDC;
  color: $font-color;

  display: grid;
  grid-template-rows: 120px 1fr 65px;
}

.header {
  background-color: white;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav {
    height: 70%;
    cursor: pointer;
    background-color: #303030;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    &-link-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__link {
      text-decoration: none;
      color: white;
      &:hover {
        color: #b0b0b0;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px 27px 0 27px;

  .slide {
    display: flex;
    justify-content: center;
    
    &_image {
      position: relative;
    }
  }

  .opacity-caption {
    background-color: #00000073;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    top: 440px;
    left: 265px;
    width: 440px;
  }

  .bullets-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    width: 70px;
    position: absolute;
    top: 170px;
    right: 250px;
    
    &__bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: white;

      &_transparent {
        border: 2px solid white;
        background-color: #00000000;
      }
    }
  }

  .cards {
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__paragraph, &__span {
        font-size: smaller;
      }

      &__link {
        text-decoration: none;
        color: orangered;
      }
    }
  }
}

.footer {
  border-top: 1px solid red;
  padding: $common-padding;
  display: grid;
  grid-template-areas: "left right";

  &__span {
    display: inline-block;

    &_left {
      grid-area: left;
      justify-self: start;
    }

    &_right {
      grid-area: right;
      justify-self: end;
    }
  }
}
