$font-family: "Alegreya SC", serif;
$font-color: #686868;
$common-padding: 20px 20px;

* {
  box-sizing: border-box;
}

@mixin orange-link() {
  text-decoration: none;
  color: #ff4500;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #000;
  font-family: $font-family;
}

.container {
  width: 70vw;
  max-width: 1008px;
  background-color: #dcdcdc;
  color: $font-color;

  display: grid;
  grid-template-rows: 120px 1fr 65px;
}

.header {
  background-color: #ffffff;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav {
    height: 70%;
    cursor: pointer;
    background-color: #303030;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &-link-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__link {
      text-decoration: none;
      color: #ffffff;
      &:hover {
        color: #b0b0b0;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 40px;

  .slide {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .opacity-caption {
    background-color: #00000073;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    left: 48px;
    width: 440px;
  }

  .bullets-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    width: 70px;
    position: absolute;
    top: 15px;
    right: 40px;

    &__bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;

      &:hover {
        border: 2px solid #ffffff;
        background-color: #00000000;
      }
    }
  }

  .cards {
    margin: 25px 27px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__paragraph,
      &__span {
        font-size: smaller;
      }

      &__link {
        @include orange-link();
      }
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 27px 40px 27px;

  &__header {
    margin-top: 8px;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(8, 115px);
    grid-template-rows: repeat(2, 115px);
    grid-row-gap: 8px;
    grid-column-gap: 4px;

    &__main {
      grid-row: 1/3;
      grid-column: 1/6;

      margin-right: 17px;
      
      width: 574px;
      height: 238px;
    }

    &__small {
      width: 115px;
      height: 115px;
    }
  }
}

.social-media {
  padding: 20px 27px;

  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;

  h3 {
    font-style: italic;
  }

  p,
  span {
    font-size: smaller;
  }

  .newsletter,
  .from-the-blog,
  .latest-from-twitter {
    width: 30%;
  }

  &__span {
    display: block;
    text-align: right;
  }

  &__link {
    @include orange-link();
  }

  .blog-post {
    &__title {
      margin-bottom: 0;
    }
  }

  .form-sign-up {
    display: flex;
    justify-content: space-between;
    height: 30px;

    & > * {
      display: block;
      border-radius: 5%;
      font-family: $font-family;
      border: 1px solid #dcdcdc;
    }

    &__email-input {
      width: 65%;
    }

    &__submit-button {
      width: 30%;
      background-color: #ffffff;
      color: #ff4500;
      font-weight: bold;
    }
  }

  .social-icons {
    display: grid;
    grid-template-areas:
      "linkedin pinterest"
      "twitter rss-feed";

    img,
    h4 {
      display: inline-block;
    }

    h4 {
      vertical-align: 13px;
    }

    img {
      width: 35px;
      height: 35px;
    }

    &__linkedin {
      grid-area: linkedin;
    }

    &__pinterest {
      grid-area: pinterest;
    }

    &__twitter {
      grid-area: twitter;
    }

    &__rss-feed {
      grid-area: rss-feed;
    }
  }
}

.footer {
  padding: $common-padding;
  display: grid;
  grid-template-areas: "left right";

  &__span {
    display: inline-block;

    &_left {
      grid-area: left;
      justify-self: start;
    }

    &_right {
      grid-area: right;
      justify-self: end;
    }
  }
}
